body {
  font-family: Arial;
  .tab{
    overflow: hidden; 
    border: 1px solid #ccc; background: #f1f1f1;
    button{
      background-color: inherit; float: left; border: none;
      cursor: pointer; padding: 14px 16px; transition:0.3s;
      font-size: 17px;
    }
    button:hover{
      background-color: #ddd;
    }
    button.active{ 
      // active라는 클레스를 받은 버튼을 말함
      background-color: #ccc;
    }

  }
  .tabcontent{
    display: none; padding: 6px 12px; bottom: 1px solid #ccc;
    border-top: none;
  }
}